* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

h1, h2{
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: black;
}
div {
    width: 50vw;
}

div, img {
    margin: 16px auto;
}

img {
    display: block;
    max-width: 100%;
}

p {
    text-align: center;
}